@font-face {
  font-family: Centra;
  src: url("../public/fonts/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("../public/fonts/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("../public/fonts/CentraNo2-Book.ttf");
  font-weight: 400;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #eeeded !important;
  color: #000000 !important;
  font-family: "Centra", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: rgb(161, 109, 44) !important;
  transition: color 0.2s;
}
ul {
  list-style-type: none;
  padding: 0 !important;
  margin: 0;
}
img {
  /* width: 100%; */
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 992px) {
  * {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  * {
    font-size: 13px;
  }
}

/* NAVBAR */
nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled,
nav.navbar.hbg-on {
  background-color: #202020;
  opacity: 1;
}
nav.navbar .navbar-brand {
  width: 9%;
  font-size: 30px;
  color: #ffffff !important;
  padding: 17px 0;
  font-weight: 500;
}
nav.navbar .navbar-nav a {
  padding: 26px 0;
  text-align: center;
  color: #ffffff !important;
  min-width: 10ch;
  opacity: 0.9;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover {
  border-bottom: 4px #ffffff80 solid;
  margin-bottom: -1px;
}
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  border-bottom: 4px #ffffff solid;
  margin-bottom: -1px;
  opacity: 1;
}
nav.navbar .navbar-text {
  font-size: 30px;
  padding-left: 10px;
}

@media (max-width: 992px) {
  nav.navbar .navbar-nav a.nav-link.navbar-link {
    border: none !important;
  }
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover {
    background-color: #54545480;
  }
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    text-decoration: underline !important;
  }
  nav.navbar .navbar-text.to-hide {
    display: none;
  }
}

/* BANNER */
.background {
  height: 100vh;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}
#banner {
  /* margin-top: 76px; */
  height: 100vh;
  padding: 200px 0;
  background-color: #000000 !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.4s ease-in;
}
#banner.scrolled {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/images/background.png"); */
  transition: opacity 0.4s ease-in;
  opacity: 0.5;
}
.title {
  font-size: 60px;
}
/* SKILLS */
#skill {
  padding: 50px 100px !important;
}
#skill * {
  color: #000000;
}
#skill .skill-container {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 3px 3px 5px #c0c0c0;
}
@media (max-width: 992px) {
  #skill {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
#skill ul {
  display: flex;
  list-style-type: none;
}
#skill li.img-sm-container {
  width: 80px;
  height: 80px;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 7px;
  margin-right: 7px;
  position: relative;
}
#skill li.img-sm-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
li.img-sm-container .skill-name {
  background-color: #e4e4e4;
  border-radius: 10px;
  font-size: 0.7rem;
  padding: 3px 10px;
  visibility: visible;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  position: absolute;
  bottom: -27px;
  left: 50%;
  transform: translate(-50%, 0);
}

li.img-sm-container:hover .skill-name {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 576px) {
  #skill .skill-container {
    padding: 10px 10px 0 10px;
  }
  #skill li.img-sm-container {
    width: 40px;
    height: 40px;
  }
}

/* PROJECTS */
#project {
  padding: 30px 0 !important;
  margin-bottom: 100px;
}
/* #project * {
  color: #ffffff;
} */
#project .card-title a {
  color: #c059ff !important;
}
#project .card-title a:hover {
  color: rgb(161, 109, 44) !important;
  transition: color 0.2s;
}
#project .card {
  /* border: none; */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 8px #c0c0c0;
  margin-bottom: 20px;
}
#project .stack-name {
  border-radius: 10px;
  font-size: 0.7rem;
  padding: 3px 10px;
  color: #c059ff !important;
  border: 1px solid #c059ff !important;
  margin: 0 5px;
}
.order-odd {
  order: 6;
}
@media (max-width: 768px) {
  .order-odd {
    order: -1;
  }
}
/* CONTACT */
#contact {
  background-color: #ffffff;
  padding-bottom: 50px;
  padding-top: 30px;
}
#contact ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}
#contact ul li i {
  display: inline-block;
  width: 20px;
  margin-right: 0.5rem;
}
